@charset "utf-8"; 
/*这里一定要另起一行！声明该css文件使用utf-8编码。当文件保存为utf-8编码时，其中的注释文字将正常显示。否则注释乱码。*/
body{font-family:"微软雅黑";	font-size:12px;margin:0 auto;}
img{border:none;} 			/*设置图片无边框*/
li{list-style:none;} 		/*设置li列表的标记，默认会是实心圆点，设成none就是没有标记*/
input,select,textarea{outline:none;} /*设置元素的整个轮廓的样式，默认是none，无轮廓*/
textarea{resize:none} 		/*禁止textarea拉伸*/
a{text-decoration:none;} 	/*设置a标签无下划线*/

/*清浮动*/
.clearfix:after{content:"";display:block;clear:both;}
.clearfix{zoom:1;} 			/* 触发 hasLayout */ 
/*是IE浏览器的专有属性，Firefox等其它浏览器不支持，在这里是检查是否清除浮动，遗憾的是，它通不过W3C验证*/