/*头部登录区*/
.comWidth{width:1000px;margin:0 auto;} /*common公共、公有的、共有的*/
.floatL{float:left;}
.floatR{float:right;}
.top{background:#c5d3e5;height:30px;line-height: 30px;}
.top2{height:50px;}
.search,.shopCar{float:left;}
.topLogo{background-color:#d2a2cc;border-radius:3px;}
/*height:50px;line-height: 50px; 如果此处用了这个使search居中，那后面的购物车行高也会变成50px，不利于布局！*/
.search{margin:0 150px;line-height: 50px;} 											/* 调整垂直居中：块状元素用line-height */
.shopCar{background:url(../images/li_bg2.png) no-repeat right;margin-top: 10px;width:85px;} 	/* 调整垂直居中：行内元素用margin */

